/*site wide*/

H1 {
  color: white;
  font-family: 'Nobile', Calibri;
  font-size: 9vw;
  text-align: center;
}

p {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font: Calibri;
    font-size: 12;
    color: #000000;

}

h2 {
    padding-right: 10px;
    padding-left: 10px;
    font: Calibri;
    font-size: 16;
    color: #000000;

}

/*index quote box below video*/

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: Calibri;
  font-size: 22px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  border-left: 15px solid #16a1bc;
  border-right: 5px solid #16a1bc;
}

blockquote::before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  content: "";
}

.form-group {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.align-center {
   text-align: center;
}

.content-wrapper {
   min-height: 100%;
   position: relative;
}

/* contact form*/
btn-default: [type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*nav*/

.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position: absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right {
  float: right;
  padding-right:10%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:Calibri;
  font-size: 26px;
}

.navbar-right a:hover{
  text-decoration:underline;
}
.navbar-logo{
  padding-left:10%;
  font-family: Calibri;
  font-size:42px;
  font-weight: bold;
  text-decoration:none;
  color:#fff;
}
.navbar {
  text-align: center
}

/*navigation for other pages*/

.navigation2 {
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right2 {
  float:right;
  padding-right:10%;
}

.navbar-right2 a{
  text-decoration:none;
  padding:10px;
  color: #16a1bc;
  font-family:Calibri;
  font-size: 26px;
}

.navbar-right2 a:hover{
  text-decoration:underline;
}
.navbar-logo2 {
  padding-left:10%;
  font-family: Calibri;
  font-size:42px;
  font-weight: bold;
  text-decoration:none;
  color:#16a1bc;
}
.navbar2 {
  text-align: center
}


/*footer*/

div.footer {
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: right;
}


/*resources page listing*/

.videos {
  background-image: url("../images/ant-rozetsky-153554-unsplash-resized.jpg");
  height: 300px;
  background-size: cover;
  position: center;
  margin: 40px 0 0 0;
  border-radius: 12px;
  font-family: 'Londrina Shadow';
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
  color: #ffffff;
}
.videos a:hover {
  text-decoration:underline;
}
.videos a:hover {
padding-left:10%;
font-family: Calibri;
font-size:70px;
font-weight: bold;
text-decoration:none;
color:#16a1bc;
}

.alternatives {
  background-image: url("../images/ja-ma-216495-unsplash-resized.jpg");
  height: 300px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  font-family: 'Londrina Shadow';
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
  color: #000066;
}
.alternatives a:hover {
  text-decoration:underline;
}
.alternatives a:hover {
padding-left:10%;
font-family: Calibri;
font-size:70px;
font-weight: bold;
text-decoration:none;
color:#16a1bc;
}

.petition {
  background-image: url("../images/alvaro-serrano-133360-unsplash-resized.jpg");
  height: 300px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  font-family: 'Londrina Shadow';
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
  color: #ffffff;
}
.petition a:hover {
  text-decoration:underline;
}
.petition a:hover {
padding-left:10%;
font-family: Calibri;
font-size:70px;
font-weight: bold;
text-decoration:none;
color:#16a1bc;
}

/*about us page*/
.Aboutus {
  background-image: url("../images/neonbrand-580130-unsplash.jpg");
  height: 300px;
  background-size: cover;
  position: relative;
  margin: 100px 0 0 0;
  border-radius: 12px;
  color: #ffffff;
}
